.question-row::before,
.question-row::after {
  content: "";
  display: table;
}
// .question-row::after{
//   clear: both;
// }
.right-panel-wrapper {
  width: 100%;
  padding: 100px 30px 0px; /* A_B */
  height: calc(100vh - 94px);
  @media (max-width: 1024px) {
    padding: 95px 15px 0px;
    height: calc(100vh - 96px);
  }
  @media (max-width: 1279px) {
    padding: 100px 15px 0px;
  }
}

.questions-inner {
  margin-bottom: 20px;
  clear: both;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  .ques-heading {
    background-color: #eeeeee;
    color: #2a2a2a;
    padding: 6px 15px;
    margin: 0;
    font-weight: normal;
    border: 1px solid #eeeeee;
    cursor: pointer;
    font-size: 1.18em; /* A_B */
    position: relative;
  }
  .question-type1 {
    padding: 20px 10px;
    display: table;
    // width: 100%;
    clear: both;
    margin-left: -60px;
    margin-right: -60px;
    @media (min-width:1025px) and (max-width:1279px){
      margin-left: -15px;
      margin-right: -15px;
    }
    @media (max-width: 1024px) {
      margin-left: -15px;
      margin-right: -15px;
    }
    .sub-heading {
      display: block;
      padding: 0px 0px 18px 0px;
       &:empty{
         display:none;
       }
    }
    .question-line {
      font-weight: normal;
      // border-bottom: 1px solid #d3d3d3;/* A_B */
      padding-bottom: 10px;
    }
    .question-row {
      width: 50%;
      // float: left;
      display: inline-block;
      vertical-align: top;
      .question-group {
        position: relative;
        width: 100%;
        display: table;
        margin: 15px 0px;
        padding-left: 60px;
        padding-right: 60px;
        @media (min-width:1025px) and (max-width:1279px){
          padding-left:15px;
          padding-right:15px;
        }
        @media (max-width: 1024px) {
          padding-left:15px;
          padding-right:15px;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        .after-text {
          position: absolute;
          top: 10px;
          right: 5px;
        }
        .text-label {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
          position: relative;
          font-size: 0.85em;
          & > span {
            &:first-child {
              padding-right: 27px;
              display: inline-block;
            }
          }
        }
        .input-box {
          width: 90%;
          display: table-cell;
          float: left;
        }
        .tooltips {
          float: right;
          margin-right: 10px;
          position: absolute;
          right: 0;
          top: 10px; /* A_B */
        }
      }

      &:nth-child(even) {
        // float: left;
      }
      &:nth-child(odd) {
        // float: right;
      }
    }
    @media (max-width: 768px) {
      .question-row {
        width: 100%;
      }
      .wide {
        width: 100%;

        .question-group {
          width: 100%;
        }
      }
    }
  }
  .question-type2 {
    padding: 20px 10px;
    display: table;
    width: 100%;
    clear: both;
    .sub-heading {
      display: block;
      padding: 0px 0px 18px 0px;
    }

    .question-row {
      width: 50%;
      float: left;
      display: block;
      .question-line {
        font-weight: normal;
        // border-bottom: 1px solid #d3d3d3;/* A_B */
        padding-bottom: 10px;
        width: 95%;
      }
      .question-group {
        width: 100%;
        float: left;
        display: table;
        margin: 15px 0px;
        .text-label {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
          position: relative;
          font-size: 0.85em; /* A_B */
          & > span {
            &:first-child {
              padding-right: 35px;
              display: inline-block;
            }
          }
        }
        .input-box {
          width: 90%;
          display: table-cell;
          float: left;
          position: relative;
          .after-text {
            position: absolute;
            top: 10px;
            right: -15px;
          }
        }
        .tooltips {
          float: right;
          margin-right: 10px;
          position: absolute;
          right: 0;
          top: 13px;
        }
      }
    }
    .wide {
      width: 100%;

      .question-group {
        width: 50%;
      }
    }
    @media (max-width: 768px) {
      .question-row {
        width: 100%;
      }
      .wide {
        width: 100%;
        .question-group {
          width: 100%;
        }
      }
    }
  }
}

.progress-panel {
  width: 100%;
  .progress {
    width: calc(100% - 435px);
    float: left;
    margin-top: 12px;
    font-weight: bold; /* A_B */
    font-size: 90%; /* A_B */
    color: #666; /* A_B */
    .perc-data {
      width: 200px;
      display: inline-block;
      @media (max-width: 1024px) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
    }
    .progress-bar {
      width: calc(80% - 200px);
      display: inline-block;
      @media (max-width: 1024px) {
        width: 100%;
        display: block;
      }
    }
    #myProgress {
      height: 10px;
      width: 100%;
      background-color: $f7-clr;
    }
    #myBar {
      height: 10px;
      width: 0px;
      background-color: $ff52-clr; //variable
    }
    @media (max-width: 1024px) {
      width: 100%;
      float: none;
    }
  }

  .progress-panel-inner {
    // border-bottom: 1px solid $light-gray;/* A_B */
    padding-bottom: 5px; /* A_B */
  }
}

.tooltip {
  width: 15px; /* A_B */
  height: 15px; /* A_B */
  position: relative;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  font-size: 0.75em;
  color: $light-blue;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  @include border-radius(50px);
  .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: $black;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -50%;
    margin-left: -60px;
    // @media (max-width: 767px) {
    //   left: 0;
    //   margin-left: -120px;
    // }
    // @media (max-width: 480px) {
    //   left: 50%;
    //   margin-left: 0;
    //   transform: translateX(-50%);
    // }

    @media (min-width: 320px) and (max-width: 1024px) {
      left: 50%;
      margin-left: 0;
      transform: translateX(-50%);
      bottom: 150%;
      top: auto;
      width: 220px;
    }

    &::after {
      content: "";
      position: absolute;
      transform: rotate(180deg);
      top: -12px;
      left: 50%;
      margin-left: -5px;
      border-width: 6px;
      border-style: solid;
      border-color: $black transparent transparent transparent;
      // @media (min-width:481px) and (max-width: 767px) {
      //   top: -12px;
      //   right: 24px;
      //   margin-left: 44px;
      // }
      @media (min-width: 320px) and (max-width: 1024px) {
        bottom: -12px;
        top: auto;
        transform: rotate(0deg);
        // right: 24px;
        // margin-left: 44px;
      }
    }
  }
  &:hover {
    .tooltiptext {
      @media (min-width: 1025px) {
        visibility: visible;
      }
    }
  }
  .custom-infoicon {
    width: 17px; /* A_B */
    height: 17px; /* A_B */
    display: block;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiMwRDM3RDY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJfQ29tcG91bmRfUGF0aF8iIGNsYXNzPSJzdDAiIGQ9Ik02NCwzMkM2NCwxNC4zLDQ5LjcsMCwzMiwwUzAsMTQuMywwLDMyczE0LjMsMzIsMzIsMzJTNjQsNDkuNyw2NCwzMnogTTU4LjQsMzINCgljMCwxNC42LTExLjgsMjYuNC0yNi40LDI2LjRTNS42LDQ2LjYsNS42LDMyQzUuNiwxNy40LDE3LjQsNS42LDMyLDUuNmwwLDBDNDYuNiw1LjYsNTguNCwxNy40LDU4LjQsMzJ6Ii8+DQo8cmVjdCB4PSIyOC41IiB5PSIxMi4yIiBjbGFzcz0ic3QwIiB3aWR0aD0iNyIgaGVpZ2h0PSI3Ii8+DQo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjM1LjUsNDQuNCAzNS41LDMwLjkgMzUuNSwyMy45IDI4LjksMjMuOSAyNS42LDIzLjkgMjUuNiwzMC45IDI4LjksMzAuOSAyOC45LDQ0LjQgMjUuNiw0NC40IA0KCTI1LjYsNTEuMyAyOC45LDUxLjMgMzUuNSw1MS4zIDM4LjMsNTEuMyAzOC4zLDQ0LjQgIi8+DQo8L3N2Zz4NCg==");
    background-size: 17px; /* A_B */
    background-repeat: no-repeat; /* A_B */
  }
  &.tooltip-show {
    .tooltiptext {
      @media (max-width: 1024px) {
        visibility: visible;
      }
    }
  }
}
.accordion {
  background-color: $ee-clr;
  color: $drak-gray;
  padding: 6px 15px;
  margin: 0;
  font-weight: normal;
  border: 1px solid $ee-clr;
  cursor: pointer;
  font-size: 1.25em;
  position: relative;
  @media (max-width: 767px) {
    font-size: 0.9em;
  }
}
.accordian-inner {
  margin-bottom: 20px;
  .accordion-resize {
    padding: 25px 15px;
  }
}
.active,
.accordion {
  &:hover {
    background-color: $f6-clr;
    color: $black;
  }
  &::after {
    content: "\002B";
    color: $bl47-clr;
    font-size: 1.25em;
    font-weight: bold;
    top: 2px;
    right: 15px;
    position: absolute;
  }
}
.active {
  &::after {
    content: "\2212";
    color: $bl47-clr;
    font-size: 1.25em;
  }
}
.accordion-panel {
  overflow: hidden;
  max-height: 0;
  @include transition(max-height 0.5s linear);
  .survey-title {
    color: $drak-gray;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid $d3-clr;
    margin-bottom: 20px;
    font-size: 1em;
    @media (max-width: 767px) {
      font-size: 0.9em;
    }
    &:empty {
      display: none;
    }
  }
  .survey-info-messg {
    color: $drak-gray;
    font-size: 1em;
  }
}

.survey-wrapper {
  padding-top: 5px; /* A_B */
  // max-height: calc(100vh - 355px);

  //  height: calc(100vh - 300px);
  .scrollable {
    padding-right: 25px;
    height: calc(100vh - 250px);
    overflow-y: auto;
    @media (max-width: 1024px) {
      height: calc(100vh - 330px);
    }
    @media (max-width: 480px) {
      padding-right: 16px;
    }
   
  }
}

.accordion.active + .accordion-panel {
  max-height: inherit;
}
.question-resize {
  margin-bottom: 40px;
  .survey-info {
    margin-bottom: 20px;
    .survey-info-messg {
      color: $drak-gray;
      font-weight: bold;
      font-size: 0.95em;
      @media (min-width: 1025px) {
        float: left;
        width: 25%;
      }
      @media (max-width: 767px) {
        font-size: 0.9em;
      }
    }
    .instruct-info {
      color: $drak-gray;
      font-size: 1em;
      position: relative;
      @media (min-width: 1025px) {
        padding-left: 45px;
        float: left;
        width: 75%;
        &:before {
          content: "";
          position: absolute;
          left: 10px;
          top: 7px;
          width: 20px;
          height: 5px;
          border-radius: 4px;
          background-color: $drak-gray;
        }
      }
      @media (max-width: 767px) {
        font-size: 0.9em;
      }
      &:empty {
        display: none;
      }
    }
  }
}

.survey-card {
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0));
  // @include transition(box-shadow 0.2s ease, z-index 0s 0.2s ease, transform 0.2s ease, background 0.3s linear);
  border: 1px solid $e6-clr;
  &:hover {
    cursor: pointer;
    .s-crad-header {
      color: $white;
      background: $selectd-hdr-lt;
    }
    .s-crad-body {
      color: $white;
      background: $selectd-lt;
    }
  }
  // &:hover{
  //     @include box-shadow(0px, 8px, 50px, rgba(55, 96, 246, 0.3));
  //     @include scale(1.05)
  // }
}
.survey-type {
  position: relative;
  .s-crad-header {
    padding: 20px 15px;
    font-size: 1em;
    font-weight: bold;
    background: $e1-clr;
    text-align: center;
    color: $btn-border;
    @media (max-width: 767px) {
      font-size: 0.9em;
    }
  }
  .s-crad-body {
    padding: 15px;
    background: $f7-clr;
    color: $drak-gray;
    min-height: 230px;
    font-size: 0.87em;
    line-height: 20px;
  }
  .survey-type-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
  }
}
.survey-info {
  margin-bottom: 15px;
}
.other-type-row {
  margin-top: 15px;
  margin-bottom: 15px;
  .other-quest {
    color: $btn-border;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 15px;
    &:empty {
      padding-bottom: 0px;
    }
    @media (max-width: 767px) {
      font-size: 0.9em;
    }
  }
  .other-form-ctrl {
    width: 100%;
    border: 1px solid $input-bor;
    height: 44px;
    padding: 15px;
    font-size: 1em;
    color: $btn-border;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
    @include transition(
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out
    );
    &:focus {
      outline: none;
      border-color: $lt-blue;
      @include box-shadow(0, 0, 8px, rgba(102, 175, 233, 0.6));
    }
  }
}

.selectedsurvey {
  .s-crad-header {
    background: $selectd-hdr;
    color: $white;
  }
  .s-crad-body {
    background: #2251ff;
    color: $white;
  }
}

.tt-ans {
  color: $btn-border;
  font-weight: bold;
  background: $e1-clr;
  padding: 10px 15px; /* A_B */
  font-size: 15px;
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }
  @media (min-width: 481px) {
    margin-right: 10px;
  }
}

.badge {
  padding-right: 0.6em;
  padding-left: 0.6em;
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &-status {
    float: left;
    width: 100px;
    margin-top: 12px;
  }

  &-not {
    color: #1e32e6;
    background-color: #e6ecff;
  }
  &-progress {
    color: #6a4f00;
    background: #fff3ce;
  }
  &-completed {
    color: #006200;
    background: #d1f4dd;
  }
}
