.th-15{
    width: 15%;
}
.th-20{
    width: 15%;
}
.th-10{
    width: 15%;
}
.th-25{
    width: 15%;
}
.thankyou-banner{
    text-align: center;
    .img{
        @extend %result;
        width: 200px;
        height: 190px;
        margin: 0 auto;
        background-size: 100% 100%;
    }
}

.thankyou-content{
    margin:40px auto 30px;
    h3,h2,h4{
        font-weight: 500;
    }
    p{
        font-size: 1em;
    }
}
.cst-chart-wrapper{
    position:relative;
    padding-top: 40px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;   
    // & .table-div{
    //     width:75%; 
    //     &.full{
    //         display:block;           
    //         margin:0px;
    //     }
    //     &.full{
    //         width:100%;
    //     }
    // }
    // & .kta-div{
    //     width:25%;   
    // }

    // & .avg-data{
    //     height:20px;
    //     background-color: $sky-clr;
    // }

    // & .your-data{
    //     height:20px;
    //     background-color: #AAE6F1;
    // }
    // .result-info{
    //     height: calc(100vh - 190px);
    //     padding-left: 15px;
    //     padding-right: 15px;
    //     // overflow-y: auto;
    //     @media (max-width:1024px){
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    // } 
    
    // .markings{
    //     float: right;
    //     margin-bottom: 15px;
    //     .avg, .sel{
    //         display: inline-block;
    //        span{
    //         display: inline-block;          
    //         font-size: 1em;
    //         color: $bl-39;
    //        }
    //     }
    //     .avg{
    //       margin-right: 10px;
    //       &> span{          
    //           &.mark-clr{
    //             background-color: $sky-clr;
    //             width: 24px;
    //             height: 8px;
    //             margin-right: 10px;
    //           }
            
    //       }
    //     }
    //     .sel{
    //         &> span{
    //             &.mark-clr{
    //                 background-color: $sky-light;
    //             width: 24px;
    //             height: 8px;
    //             margin-right: 10px;
    //             }
              
    //         }
    //     }
    // }  
    // .result-move{
    //     margin-bottom: 20px;
    //     padding-left: 30px;
    //     padding-right: 30px;
    //     @media (max-width:1024px){
    //         padding-left: 15px;
    //         padding-right:15px;
    //     }
    //     @media (max-width:480px){
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    // }
}
.cst-chart-wrapper {
    .textarea {
        width: 100%;
        resize: none;
        border: 1px solid $f3-clr;    
        background: transparent;
        padding: 5px;
        color: $bl-39;
        font-size: 1em;
         &:focus{
             outline: none!important;
            border-color:$e1-clr;   
         }
      }
      .key-rt-text{
          .textarea{
              height: 100%;
          }
    }
    .btn-item{
        @media (max-width:480px){               
            width: 88px;
            margin-right: 0px;  
        }
      }
  }

.tw-key{
    @media (max-width:767px){        
            width: 900px;      
        }
    .half-fl, .half-fl{
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tabl-head{
        width: 100%;
        background-color: $f6-clr;
        padding: 10px;
        margin-bottom: 15px;
        @media (min-width:1025px) and (max-width:1279px){
            font-size: 0.60em;
            padding: 4px 10px;
            margin-bottom: 10px;
            }
          @media (min-width:1280px) and (max-width:1365px){
            font-size: 0.70em;
            padding: 4px 10px;
            margin-bottom: 10px;
           }
           @media (min-width:1366px) and (max-width:1560px){
            font-size: 0.70em;
            padding: 4px 10px;
            margin-bottom: 10px;
           }
    }
    table{
        width: 100%;
    }
    .kta-div{
        width:25%;
        .kta-inner{
            background-color: $f6-clr;
            padding: 15px;
            font-size: 1em;
            position: relative;
              .lbl{
                  color:$bl-39;
                  font-weight: bold;
                  @media (max-width:1024px){
                    font-size: 0.85em;
                  }
                  @media (min-width:1025px) and (max-width:1279px){
                    font-size: 0.60em;                            
                    }
                  @media (min-width:1280px) and (max-width:1365px){
                    font-size: 0.70em;                             
                   } 
                   @media (min-width:1366px) and (max-width:1560px){
                    font-size: 0.70em;                             
                   }  
              }
            .key-info{
                color:$bl-39;
                margin-top: 10px;
                margin-bottom: 10px;
                @media (max-width:1024px){
                    font-size: 0.90em;
                }
            }
            .textarea{
                position: absolute;
                height: 90%;
                width: 95%;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-left: 15px;
                padding-right: 15px;
                @media (min-width:1025px) and (max-width:1279px){
                    font-size: 0.55em;                            
                    }
                  @media (min-width:1280px) and (max-width:1365px){
                    font-size: 0.60em;                             
                   } 
                   @media (min-width:1366px) and (max-width:1560px){
                    font-size: 0.60em;                             
                   } 
            }
        }
      
        & > .lbl-wt{
            font-weight: 1em;
            color: $bl-39;
        }

    }
    table{
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        color: $bl-39;
        thead{
          &> tr {
              th{
                  font-size: 1em;
                  font-weight: bold;
                  padding: 10px;
                  border-bottom: 2px solid #E1DFDF;
                  &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                      text-align: right;
                      padding-left: 0;
                      padding-right: 0;
                      width: 10%;
                  }
                @media (max-width:1024px){
                    font-size: 0.85em;
                }
                @media (min-width:1025px) and (max-width:1279px){
                    font-size: 0.60em;
                    padding: 4px 10px;                  
                    }
                  @media (min-width:1280px) and (max-width:1365px){
                    font-size: 0.70em;
                    padding: 4px 10px;                   
                   } 
                   @media (min-width:1366px) and (max-width:1560px){
                    font-size: 0.70em;
                    padding: 4px 10px;                   
                   }
                 
              }
          }
         }
         tbody{
             & > tr{
                 td{
                    font-size: 1em;
                    padding: 10px;
                    border-bottom: 1px solid #E1DFDF;
                   &.w10{                       
                        padding-left: 0!important;
                        padding-right: 0!important;                        
                    }  
                    @media (min-width:1024px){
                        font-size: 0.90em;
                    } 
                    @media (min-width:1025px) and (max-width:1279px){
                        font-size: 0.55em;
                        padding: 4px 10px;                  
                        }
                      @media (min-width:1280px) and (max-width:1365px){
                        font-size: 0.60em;
                        padding: 4px 10px;                   
                       } 
                       @media (min-width:1366px) and (max-width:1560px){
                        font-size: 0.60em;
                        padding: 4px 10px;                   
                       }                 
                 }
                 &:not(:last-child){
                     td{
                        &.w10{
                            border-bottom: transparent;
                        }  
                     }
                 }
             }
          
         }
         th, td{
             text-align: left;
         }
    }
    &:last-child{
        margin-top: 20px;
    }
    .significant{
        border: 1px solid $light-bdr;
        font-size: 0.9em;
        color: $bl-39;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 15px;
        @media (min-width:1025px) and (max-width:1279px){
            font-size: 0.55em;
            padding: 4px 10px;
            }
          @media (min-width:1280px) and (max-width:1365px){
            font-size: 0.60em;
            padding: 4px 10px;
           }
           @media (min-width:1366px) and (max-width:1560px){
            font-size: 0.60em;
            padding: 4px 10px;
           }

    }
    .nob {
        width: 400%;
        height: 15px;   
        position: relative;
        z-index: 1;
        margin-bottom: 1px;
        &:nth-child(1){
            background: $sky-clr;
        }
        &:nth-child(2){
            background:$sky-light;
        }
    }
    
}
.bdr-lf{
    border-left: 1px solid $light-bdr;
    padding-left: 0!important;
    padding-right: 0!important;  
   
}
.bdr-rt{
    border-right: 1px solid $light-bdr;
}
.txt-rt{
    text-align: right!important;
    padding-right: 0!important;
}

.table-div{
    width:75%; 
    &.full{
        display:block;           
        margin:0px;
    }
    &.full{
        width:100%;
    }
}

.avg-data{
    height:20px;
    background-color: $sky-clr;
}

.your-data{
    height:20px;
    background-color: #AAE6F1;
}

.result-info{
    height: calc(100vh - 190px);
    padding-left: 15px;
    padding-right: 15px;
    // overflow-y: auto;
    @media (max-width:1024px){
        padding-left: 0;
        padding-right: 0;
    }
} 

.markings{
    float: right;
    margin-bottom: 15px;
    .avg, .sel{
        display: inline-block;
       span{
        display: inline-block;          
        font-size: 1em;
        color: $bl-39;
        @media (min-width:1025px) and (max-width:1279px){
            font-size: 0.60em;                            
            }
          @media (min-width:1280px) and (max-width:1365px){
            font-size: 0.60em;                             
           }
           @media (min-width:1366px) and (max-width:1560px){
            font-size: 0.60em;                             
           }
       }
    }
    .avg{
      margin-right: 10px;
      &> span{          
          &.mark-clr{
            background-color: $sky-clr;
            width: 24px;
            height: 8px;
            margin-right: 10px;
          }
        
      }
    }
    .sel{
        &> span{
            &.mark-clr{
                background-color: $sky-light;
            width: 24px;
            height: 8px;
            margin-right: 10px;
            }
          
        }
    }
}  

.result-move{
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width:1024px){
        padding-left: 15px;
        padding-right:15px;
    }
    @media (max-width:480px){
        padding-left: 0;
        padding-right: 0;
    }
}