<div class="right-panel-wrapper">
  <div class="right-panel clearfix">
    <progress-panel
      ref="prsPanel"
      :progress-data="progressData"
    ></progress-panel>
    <div class="survey-wrapper">
      <div class="scrollable">
        <div
          class="questions-inner"
          v-for="qType of rightData"
          v-if="qType.catType ===1"
        >
          <h2 class="ques-heading" v-html="qType.heading"></h2>
          <div class="question-type1">
            <h4 class="sub-heading" v-html="qType.subheading"></h4>
            <p class="question-line" v-html="qType.categoryHeading"></p>
            <div
              class="question-row"
              v-for="(question,quesIndex) of qType.questions"
            >
              <div class="question-group" v-if="question.type=='dd'">
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <select
                    class="cst-form-control"
                    @change="handleSelect(qType.catType, quesIndex, null, $event)"
                  >
                    <option
                      disabled
                      v-html="question.placeholder"
                      :selected="question.selectedId==''"
                    ></option>
                    <option
                      v-for="option of question.options"
                      v-html="option.ddName"
                      :value="option.ddId"
                      :selected="option.ddId==question.selectedId"
                    ></option>
                  </select>
                </div>
              </div>

              <div
                class="question-group"
                v-if="question.type=='txt' || question.type=='num'"
              >
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    class="cst-form-control"
                    :placeholder="question.placeholder"
                    @input="handleInput(question,qType.catType,quesIndex,null ,$event)"
                    :value="question.selectedText"
                  />
                </div>
                <div v-html="question.afterText" class="after-text"></div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="questions-inner"
          v-for="qType of rightData"
          v-if="qType.catType ===2"
        >
          <h2 class="ques-heading" v-html="qType.heading"></h2>
          <div class="question-type2">
            <h4 class="sub-heading" v-html="qType.subheading"></h4>
            <div
              class="question-row"
              v-for="(question,quesIndex) of qType.questions"
              :class="{'wide': question.quesLength>1 }"
            >
              <div
                class="question-line"
                v-html="question.questionHeading"
              ></div>
              <div
                class="question-group"
                v-for="(option,optionIndex) of question.options"
              >
                <div class="text-label">
                  <span v-html="option.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="option.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <input
                    v-if="option.type=='num' || option.type=='txt'"
                    type="text"
                    :placeholder="option.placeholder"
                    class="cst-form-control"
                    :value="option.selectedText"
                    @input="handleInput(option,qType.catType, quesIndex,optionIndex ,$event)"
                  />
                  <div
                    v-if="option.type=='num' || option.type=='txt'"
                    type="text"
                    v-html="option.afterText"
                    class="after-text"
                  ></div>

                  <select
                    v-if="option.type=='dd' "
                    class="cst-form-control"
                    @change="handleSelect(qType.catType, quesIndex,optionIndex,$event)"
                  >
                    <option
                      disabled
                      v-html="option.placeholder"
                      :selected="option.selectedId==''"
                    ></option>
                    <option
                      v-for="quesOption of option.options"
                      v-html="quesOption.ddName"
                      :value="quesOption.ddId"
                      :selected="option.selectedId==quesOption.ddId"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="questions-inner"
          v-for="qType of rightData"
          v-if="qType.catType ===3"
        >
          <h2 class="ques-heading" v-html="qType.heading"></h2>
          <div class="question-type1">
            <h4 class="sub-heading" v-html="qType.subheading"></h4>
            <p class="question-line" v-html="qType.categoryHeading"></p>
            <div
              class="question-row"
              v-for="(question,quesIndex) of qType.questions"
            >
              <div class="question-group" v-if="question.type=='ddd'">
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <select
                    class="cst-form-control"
                    @change="handleSelect(qType.catType, quesIndex, null, $event)"
                  >
                    <option
                      disabled
                      v-html="question.placeholder"
                      :selected="question.selectedId==''"
                    ></option>
                    <option
                      v-for="option of question.options"
                      v-html="option.ddName"
                      :value="option.ddId"
                      :selected="option.ddId==question.selectedId"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="question-group" v-if="question.type=='ddd'">
                <div class="text-label">
                  <span v-html="question.optionName2"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description2"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <div
                    class="cst-form-control"
                    style="height: fit-content; min-height: 36px"
                  >
                    <div v-html="question.placeholder2"></div>
                    <div
                      v-for="option of dd2Options[quesIndex]"
                      style="margin: 8px 0"
                    >
                      <input
                        type="checkbox"
                        :checked="option.isChecked"
                        @change="handleDddSelect(qType.catType, quesIndex, null, option.ddId)"
                      />
                      <span v-html="option.ddName"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="question-group" v-if="question.type=='numlist'">
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <select
                    class="cst-form-control"
                    @change="handleSelect(qType.catType, quesIndex, null, $event,question)"
                  >
                    <option
                      disabled
                      v-html="question.placeholder"
                      :selected="question.selectedId==''"
                    ></option>
                    <option
                      v-for="option of question.options"
                      v-html="option.ddName"
                      :value="option.ddId"
                      :selected="option.ddId==question.selectedId"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="question-group" v-if="question.type=='numlist'">
                <div class="text-label">
                  <span v-html="question.optionName2"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description2"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    class="cst-form-control"
                    :placeholder="question.placeholder"
                    @input="handleNumListInput(question,qType.catType,quesIndex,null ,$event)"
                    :value="question.selectedText"
                  />
                </div>
              </div>

              <div class="question-group" v-if="question.type=='dd'">
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <select
                    class="cst-form-control"
                    @change="handleSelect(qType.catType, quesIndex, null, $event)"
                  >
                    <option
                      disabled
                      v-html="question.placeholder"
                      :selected="question.selectedId==''"
                    ></option>
                    <option
                      v-for="option of question.options"
                      v-html="option.ddName"
                      :value="option.ddId"
                      :selected="option.ddId==question.selectedId"
                    ></option>
                  </select>
                </div>
              </div>

              <div
                class="question-group"
                v-if="question.type=='txt' || question.type=='num'"
              >
                <div class="text-label">
                  <span v-html="question.optionName"></span>
                  <span class="tooltips">
                    <div class="tooltip">
                      <span
                        class="custom-infoicon"
                        @click="toltiptoggle"
                      ></span>
                      <span
                        class="tooltiptext"
                        v-html="question.description"
                      ></span>
                    </div>
                  </span>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    class="cst-form-control"
                    :placeholder="question.placeholder"
                    @input="handleInput(question,qType.catType,quesIndex,null ,$event)"
                    :value="question.selectedText"
                  />
                </div>
                <div v-html="question.afterText" class="after-text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
