@import "partials/variables";
@import "./partials/mixin";
@import "./partials/base64";
@import "partials/common";
@import "partials/buttons";
@import "./partials/header";
@import "partials/all.min";

.feedback-banner {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  width: 97%;
  .validated-error {
    padding-left: 0px;
  }
  .img {
    @extend %result;
    width: 200px;
    height: 190px;
    margin: 0 auto;
    background-size: 100% 100%;
  }
  .star-icon-block {
    margin: 15px auto;
    display: inline-block;
    svg {
      width: 200px;
    }
  }
  .feedback-block {
    width: 100%;
    margin: 5px auto 15px auto;
    .feedback-input {
      width: 100%;
      resize: none;
      padding: 10px;
      height:50px;
    }
  }
  
}

.feedback-submit-block {
  width: 100%;  
  text-align: center;
  .btn_submit-now {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin: 0px auto;
    background: #2251ff;
    color: #fff;
    @media (max-width: 480px){
        width: 115px;
      }
    &:first-child{
      margin-right: 10px;
    }
  }
}

.feedback-content {
  margin: 40px auto 30px;
  h3,
  h2,
  h4 {
    font-weight: 500;
  }
  p {
    font-size: 1em;
  }
}
.iconstar {
  fill: #ffffff;
  stroke: #aaacb4;
  stroke-width: 1.5;
  cursor: pointer;
}
.iconstar.rated {
  fill: #2251ff;
  stroke: #2251ff;
  stroke-width: 1.5;
  cursor: pointer;
}
.rating .iconstar.to_rate {
  fill: #708efe;
  stroke: #708efe;
}
