@import 'partials/variables';
@import './partials/mixin';
@import './partials/base64';
@import 'partials/common';
@import 'partials/buttons';
@import './partials/header';
@import 'partials/all.min';

.thankyou-banner{
    text-align: center;
    .img{
        @extend %result;
        width: 200px;
        height: 190px;
        margin: 0 auto;
        background-size: 100% 100%;
        @media (max-width:767px){
            width: 110px;
            height: 100px;
        }
        @media (min-width:1025px) and (max-width:1279px){
            width:125px;
            height: 110px;
          }
           @media (min-width:1280px) and (max-width:1365px){
            width:175px;
            height: 150px;
          }
          @media (min-width:1366px) and (max-width:1560px){
            width:175px;
            height: 150px;
          }
    }
}

.thankyou-content{
    margin:40px auto 30px;
    h3,h2,h4{
        font-weight: 500;
        @media (min-width:1025px) and (max-width:1279px){
            font-size: 0.60em;
          }
          @media (min-width:1280px) and (max-width:1365px){
            font-size:0.80em;
          }
          @media (min-width:1366px) and (max-width:1560px){
            font-size:0.80em;
          }
    }
    p{
        font-size: 1em;
        @media (min-width:1025px) and (max-width:1279px){
            font-size: 0.60em;
          }
           @media (min-width:1280px) and (max-width:1365px){
            font-size: 0.60em;
          }
          @media (min-width:1366px) and (max-width:1560px){
            font-size: 0.60em;
          }
    }
}
 